{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Austen C. Myers</title>
    <!-- Tab Icon" -->
    <link rel="shortcut icon" href="{% static 'images/icons/site-tab.png' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style/theme.css' %}">
</head>

<body class="bg-void container p-4">
    {% block index %}{% endblock index %}
</body>

</html>