{% extends 'base/index.html' %}
{% block content %}
  <div class="content">
    <div class="content-list">
      <li class="nav-toggle" onclick="toggleNav('content-list')">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </li>
        {% for story in stories %}
          {% if story.title == active.title %}
            <li class="active-story">
          {% else %}
            <li class="entry">
          {% endif %}
              <a href="{% url 'bio:story' story.title %}">{{story}}</a>
            </li>
        {% endfor %}
    </div>
    <div class="active-content">
      {% if active %}
        <h4>{{ active.title }}</h4>
        <article>
          {% for paragraph in content %}
            <p>{{ paragraph }}</p>
          {% endfor %}
        </article>
      {% endif %}
    </div>
  </div>
{% endblock content %}
