{% extends 'base/index.html' %}
{% block content %}
  <div class="content">
    <div class="content-list">
      <li class="nav-toggle" onclick="toggleNav('content-list')">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </li>
      {% for entry in entries|dictsort:"start" %}
        {% if entry.label == active.label %}
          <li class="active-entry">
        {% else %}
          <li>
        {% endif %}
            <a href="{% url 'work:details' entry %}">{{entry.label}}</a>
          </li>
      {% endfor %}
    </div>

    <div class="active-content">
      {% if active %}
        <h4>{{active.employer}}</h4>
        <small>
          {{active.duration}}
        </small>
        <br>
        <small>
          <i>{{active.dates}}</i>
        </small>
        <div class="positions">
          {% for position in active.positions.all|dictsort:"start" %}
          <details class="position-details"
          id="pos-{{position.element_id}}-details">
            <summary onclick="focusDetails('position', 'pos-{{position.element_id}}-details')">
              {{position.label.title}}
            </summary>
            <ul class="duty-list"><h6>Responsibilities:</h6>
              {% for duty in position.duties.all %}
                <details class="duty-details"
                id="duty-{{duty.element_id}}-details">
                  <summary onclick="focusDetails('duty', 'duty-{{duty.element_id}}-details')">
                    <span>
                      {{duty.label.title}}
                    </span>
                  </summary>
                  <span id="{{duty}}-description">{{duty.description}}</span>
                </details>
              {% endfor %}
            </ul>
          </details>
          {% endfor %}
        </div>

      {% endif %}
    </div>
  </div>
  <script>

    function focusDetails(group, id) {
      let className = group + '-details'
      let detailsElements = document.getElementsByClassName(className)
      console.log(detailsElements)
      let active = document.getElementById(id)
      console.log(className, active)
      for (let i = 0; i < detailsElements.length; i++) {
        let element = detailsElements[i]
        // let state = element.getAttribute('open')
        element.open = false
      }
      let state = active.open
  }

  </script>
{% endblock content %}
