{% extends 'index.html' %}
{% block content %}
<header class="col-12 text-center text-capitalize border-bottom">
    <h1>{{ page.label }}</h1>
</header>
<nav id="section-nav" class="col-4 text-capitalize">
{% for category in categories %}
    <li class="pseudo-link  mt-2" onclick="show('{{category.label}}')">{{category}}</li>
{% endfor %}
</nav>
<main id="entry" class="col-8 text-center">
    <div class="entries">
        <h3 class="text-capitalize">About</h3>
        <p>{{page.blurb}}</p>
    </div>
    {% for category in categories %}
    <div id="{{category.label}}" class="entries visually-hidden">
            <h3 class="text-capitalize">{{category.label}}</h3>
            <p>{{category.blurb}}</p>
            <div class="border">
                {% for skill in skills|dictsortreversed:"rank" %}
                <li>{{skill.label}} - {{skill.rank}}</li>
                {% endfor %}
            </div>
    </div>
    {% endfor %}
    <div class="border-bottom border-top mt-4">
        <small class="i">Each point indicates the number of projects I've successfully demonstrated the skill.</small>
    </div>
</main>
<script src="{% static 'scripts/app.js' %}"></script>

{% endblock content %}
