* {
    margin: 0;
    padding: 0;
}

@media screen {
    body {
        padding: 1% 6% 0%;
    }
    header {
        padding: 2%;
        display: flex;
        justify-content: space-between;
    }
    h2 {
        font-size: 17px;
    }
    h3 {
        font-size: 27px;
    }
    h4 {
        margin: 2% 0%;
        font-size: 24px;
    }
    h5 {
        margin-top: 4%;
        font-size: 20px;

    }
    h6 {
        font-size: 15px;

    }
    header>.links {
        display: flex;
        flex-direction: column;
    }
    nav {
        font-size: 20px;
        margin: 2% 0%;
        display: flex;
        justify-content: space-between;
    }
    .nav-toggle {
        display: none;
    }
    nav>li {
        padding: 3% 2%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main>.content {
        margin-top: 2%;
        width: 94%;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .content-list {
        font-size: 20px;
        margin-right: 3%;
        grid-column: 1;
    }
    .content-list>li {
        text-align: end;
        padding: 2% 3%;
    }
    .active-content {
        margin: 2%;
        padding: 4%;
        max-height: fit-content;
        text-align: center;
        grid-column: 2;
    }
    article {
        max-height: 75%;
        overflow-y: scroll;
    }
    p {
        padding: 2%;
        text-indent: 8%;
        text-align: justify;
    }
    details > summary  {
        margin: 2%;
        font-weight: bold;
    }
    .content {
        overflow-y: scroll;
    }
    .positions {
        margin-top: 4%;
        margin-bottom: 5%;
    }
    footer {
        position: fixed;
        border-radius: 5px;
        bottom: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer>a, footer>span {
        padding: 1% 2%;
    }
}
@media (max-width: 400px) {
    header {
        padding: 4% 2%;
        flex-direction: column;
        text-align: center;
    }
    header>.links {
        padding: 2% 0%;
        flex-direction: row;
        justify-content: space-around;
    }
    h1 {
        font-size: 27px;
    }

    nav {
        font-size: 15px;
        flex-direction: column;
        align-items: center;
    }
    nav>li {
        display: none;
    }

    main>.content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-list {
        display: flex;
        flex-direction: column;
    }
    .content-list>li {
        display: none;
        text-align: center;
    }
    .nav-toggle {
        display: inline !important;
    }
    .active-content {
        max-height: 100vh;
    }
    article {
        max-height: 100%;
    }
    footer {
        position: relative;
        margin: 5% 0% 0%;
        flex-direction: column;
    }
    p {
        text-indent: 0%;
        text-align: center;
    }
}
@media (min-width: 400px) {
    body {
        padding: 1% 6% 0%;
    }
    footer {
        width: 88%;
        right: 6%;
    }

}
@media (min-width: 500px) {
    body {
        padding: 1% 8% 0%;
    }
    footer {
        width: 84%;
        right: 8%;
    }
}
@media (min-width: 600px) {
    body {
        padding: 1% 10% 0%;
    }
    footer {
        width: 80%;
        right: 10%;
    }
}
@media (min-width: 700px) {
    body {
        padding: 1% 15% 0%;
    }
    footer {
        width: 70%;
        right: 15%;
    }
}
@media (min-width: 800px) {
    body {
        padding: 1% 20% 0%;
    }
    footer {
        width: 60%;
        right: 20%;
    }
}
@media (min-width: 900px) {
    body {
        padding: 1% 25% 0%;
    }
    footer {
        width: 50%;
        right: 25%;
    }
}
@media (min-width: 1000px) {
    body {
        padding: 1% 30% 0%;
    }
    header, nav {
        margin-bottom: 5%;
    }

    footer {
        width: 30%;
        right: 35%;
    }
}