/* top right bottom left*/
/* top left-right bottom*/
/* top-bottom left-right*/
* {
    margin: 0;
    padding: 0;
}

@media screen {
    body {
        padding: 4%;
    }
    header {
        padding: 2%;
        display: flex;
        justify-content: space-between;
    }
    h2 {
        font-size: 17px;
    }
    h3 {
        font-size: 27px;
    }
    h4 {
        margin: 2% 0%;
        font-size: 24px;
    }
    h5 {
        margin-top: 4%;
        font-size: 20px;

    }
    header>.links {
        display: flex;
        flex-direction: column;
    }
    nav {
        font-size: 20px;
        margin: 2% 0%;
        display: flex;
        justify-content: space-between;
    }
    nav>li {
        padding: 3% 2%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main>.content {
        margin-top: 2%;
        width: 94%;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .content-list {
        font-size: 20px;
        margin-right: 3%;
        grid-column: 1;
    }
    .content-list>li {
        text-align: end;
        padding: 2% 3%;
    }
    .active-content {
        margin: 2%;
        padding: 4%;
        max-height: 50vh;
        text-align: center;
        grid-column: 2;
    }
    article {
        max-height: 75%;
        overflow-y: scroll;
    }
    p {
        padding: 2%;
        text-indent: 8%;
        text-align: justify;
    }
    footer {
        position: fixed;
        border-radius: 5px;
        width: 96%;
        height: 6%;
        bottom: 2%;
        right: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer>a, footer>span {
        padding: 1% 2%;
    }
}
