{% extends 'index.html' %}
{% block content %}
<header class="col-12 text-center text-capitalize border-bottom">
    <h1>{{ journal }}</h1>
</header>
<nav id="section-nav" class="col-4 text-capitalize">
{% for entry in journal.entries.all %}
    <li class="pseudo-link  mt-2" onclick="show('{{entry.label}}')">{{entry}}</li>
{% endfor %}
</nav>
<main id="entry" class="col-8 text-center">
    {% include 'partials/entries.html' %}
    <!---->
    {% block entry %}
    <div class="entries">
        <h1 class="border-bottom text-capitalize">about</h1>
        <section id="entry-content" class="text-center">
            <span>
                {{ blurb }}
            </span>
        </section>
    </div>
    {% endblock entry %}
</main>
<script>

</script>
{% endblock content %}
