@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root {
  --void: #0c011a;
  --ocean: #142677;
  --wave: #2f70a8;
  --sand: #d6a10f;
  --land: #642805;
  --grass: #078d12;
  --forest: #06690e;
  --stone: #b6c8d8;
  --acme: "Acme", sans-serif;
}

body {
  font-family: var(--acme);
  color: var(--stone);
}
.bg-void {
  background-color: var(--void);
}
.bg-ocean {
  background-color: var(--ocean);
}
a:any-link:hover,
.pseudo-link:hover {
  color: var(--wave);
}
a:any-link,
.pseudo-link {
  color: var(--sand);
  text-decoration: none;
  cursor: pointer;
}
.home-link {
  color: var(--stone) !important;
}
p {
  text-indent: 1rem;
}

li {
  list-style: none;
}

.i {
  font-style: italic;
}

summary {
  font-size: 15px;
}
details>li {
  font-size: 13px;
}