<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Austen C. Myers</title>
    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="{{ url_for ('static', filename='bootstrap/bootstrap.css') }}">
    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="{{ url_for ('static', filename='theme.css') }}" />
    <!-- Prevent "favicon.ico 404 error in console:" -->
    <link rel="shortcut icon" href="#">

</head>

<body class="bg-void container p-4">
    <header class="row border-bottom p-2">
        <section id="title-bar" class="col-9">
            <h1>{{ Title.title() }}</h1>
            <h6>{{ Subtitle.title() }}</h6>
        </section>
        <section id="link-bar" class="col text-end">
            {% for link in links %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.label }}</a></li>
            {% endfor %}
        </section>
    </header>
    <nav class="row border-bottom p-1">
        {% for section in sections %}
        <li id="nav-bar" class="col text-center">
            <a href="/{{ section.label }}">{{ section.label.title() }}</a>
        </li>
        {% endfor %}
    </nav>
    <main class="container p-2">
        {% block page %}{% endblock %}
        </main>
        <footer class="row">
            <section id="copywrite" class="col text-start">© acmf 2022</section>
            <section id="credits" class="col-6 text-center">
                <span>Built with: <br>Flask, JavaScript, and Bootstrap.</span>
            </section>
        <section id="contact" class="col text-end">
            <a href="">message</a>
        </section>
    </footer>

</body>
<!-- Import JS -->
<script src="{{ url_for ('static', filename='app/app.js') }}"></script>

</html>