<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.css">
    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="theme.css" />
    <!-- Prevent "favicon.ico 404 error in console:" -->
    <link rel="shortcut icon" href="#">
    <!-- Import JS -->
    <script src="app.js"></script>

  </head>
  <body class="bg-void">
    <div class="container-fluid p-3">
      <section id="title-bar" class="row m-3 border-bottom">
        <div id="titles" class="col-8">
          <h1 id="main-header"></h1>
          <h6 id="sub-header"></h6>
        </div>
        <div
          id="navigation"
          class="col d-flex flex-column justify-content-center align-items-end gap-1"
        >
        </div>
      </section>
      <section id="content" class="row">
        <div class="col-2"></div>
        <div id="sections" class="col text-center">

        </div>
        <div class="col-2"></div>
      </section>
      <section id="credits" class="row"></section>
    </div>

  </body>
</html>
