{% extends 'base.html' %}
{% block page %}
<header class="row text-center border-bottom">
  <h1>{{ section.Title.title() }}</h1>
</header>
<main class="row p-1">
  {% if section.Title != 'home' %}
  <section id="section-nav" class="col-4 pt-1 text-capitalize">
    {% for entry in section.entries %}
    <li>
      <a class="pseudo-link" onclick="render('{{section.Title}}', '{{entry}}')">
        {{ entry }}
      </a>
    </li>
    {% endfor %}
  </section>
  {% endif %}
  <section id="entry" class="col">
    <header class="row text-center">
      <h3 id="entry-title" class="text-capitalize border-bottom">
        about
      </h3>
    </header>
    <main class="row d-flex flex-column text-center">
      <i>
        <small id="entry-dates" class="text-capitalize"></small>
      </i>
      <section id="entry-content" class="text-start">
        {{section.description}}
      </section>
      <section id="entry-lists"></section>
    </main>
  </section>
</main>
{% endblock %}