{% extends 'index.html' %}
{% block content %}
<header class="col-12 text-center text-capitalize border-bottom">
    <h1>{{ page.label }}</h1>
</header>
<nav id="section-nav" class="col-4 text-capitalize">
{% for story in stories %}
    <li class="pseudo-link  mt-2" onclick="show('{{story.label}}')">{{story}}</li>
{% endfor %}
</nav>
<main id="story" class="col-8 text-center">
    <div class="entries">
        <h3 class="text-capitalize">About</h3>
        <p>{{page.blurb}}</p>
    </div>
    {% for story in stories %}
    <div id="{{story.label}}" class="entries visually-hidden">
        <h3 class="text-capitalize">{{story.label}}</h3>
        <p>{{story.blurb}}</p>
    </div>
    {% endfor %}
</main>
<script src="{% static 'scripts/app.js' %}"></script>

{% endblock content %}
