{% extends 'index.html' %}
{% block content %}
<header class="col-12 text-center text-capitalize border-bottom">
    <h1>{{ page.label }}</h1>
</header>
<nav id="section-nav" class="col-4 text-capitalize">
{% for employer in employers %}
    <li class="pseudo-link  mt-2" onclick="show('{{employer.label}}')">{{employer}}</li>
{% endfor %}
</nav>
<main id="employer" class="col-8 text-center">
    <div class="entries">
        <h3 class="text-capitalize">About</h3>
        <p>{{page.blurb}}</p>
    </div>
    {% for employer in employers %}
    <div id="{{employer.label}}" class="entries visually-hidden">
        <h3 class="text-capitalize">{{employer.label}}</h3>
        <li class="i">{{employer.start}} - {{employer.end}}</li>
        <p>{{employer.blurb}}</p>
        {% for position in employer.postions.all %}
            <details>
                <summary>{{position.label}}</summary>
                <li class="i">{{postion.start}} - {{position.end}}</li>
            </details>
        {% endfor %}
    </div>
    {% endfor %}
</main>
<script>

</script>
{% endblock content %}